<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Carlos A.">

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/responsive.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <title>Curso - Jornada Acadêmicos</title>
  </head>
  <body>
    <header>
      <img
      src="../assets/hero-img.png"
      id="logo_jornada">
      <button>CADASTRO/LOGIN</button>
    </header>
    <article>
      <div id="description">
        <h1>Descrição</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas lacinia eget libero in dictum. Etiam scelerisque
          sodales arcu at interdum. Fusce in vestibulum ligula, sed
          consequat mi. Donec congue in justo eu auctor. Quisque
          venenatis dignissim neque, vitae mollis eros porta id.
          Curabitur eu consectetur enim, id finibus lacus. Vestibulum
          nec tortor in diam pharetra aliquet sit amet sit amet mi.
          Curabitur blandit, ex ac vehicula finibus, ligula est dictum dui,
          ultrices egestas purus dolor eget dolor.
        </p>
      </div>

      <div>
        <h1>Este Curso Inclui</h1>

        <p>
          The point of using Lorem Ipsum
        </p>
        <p>
          The point of using Lorem Ipsum
        </p>
        <p>
          The point of using Lorem Ipsum
        </p>
        <p>
          The point of using Lorem Ipsum
        </p>
        <p>
          The point of using Lorem Ipsum
        </p>
        <p>
          The point of using Lorem Ipsum
        </p>
      </div>

      <h1>Conteúdo</h1>


      <div class="Conteudo">
        <h1>Módulo 1: Lorem Ipsum Sit Dor Amet</h1>

        <div>
          <img
          src="../assets/feather_icons_3/box.svg"
          class="icons_conteudo"
          >
  
  
          <p>
            It is a long established fact that a reader will be
            distracted by the readable content of a page when looking
            at its layout. The point of using Lorem Ipsum.
          </p>
        </div>


        <h2>1h 45min</h2>
      </div>

      <div class="Conteudo">
        <h1>Módulo 2: Lorem Ipsum Sit Dor Amet</h1>
        <div>
          <img
          src="../assets/feather_icons_3/users.svg"
          class="icons_conteudo"
          >
  
  
          <p>
            It is a long established fact that a reader will be
            distracted by the readable content of a page when looking
            at its layout. The point of using Lorem Ipsum.
          </p>
        </div>


        <h2>1h 20min</h2>
      </div>

      <div class="Conteudo">
        <h1>Módulo 3: Lorem Ipsum Sit Dor Amet</h1>

        <div>
          <img
          src="../assets/feather_icons_3/map.svg"
          class="icons_conteudo"
          >
  
  
          <p>
            It is a long established fact that a reader will be
            distracted by the readable content of a page when looking
            at its layout. The point of using Lorem Ipsum.
          </p>
        </div>

        <h2>1h</h2>
      </div>

      <div class="Conteudo">
        <h1>Módulo 4: Lorem Ipsum Sit Dor Amet</h1>

        <div>
          <img
          src="../assets/feather_icons_3/award.svg"
          class="icons_conteudo"
          >
  
  
          <p>
            It is a long established fact that a reader will be
            distracted by the readable content of a page when looking
            at its layout. The point of using Lorem Ipsum.
          </p>
        </div>

        <h2>35min</h2>
      </div>

      <h1>Instrutores</h1>

      <div class="instrutores">
        <img
        src="../assets/avatar-male.png"
        class="avatar"
        >

        <h1>Alex Turim</h1>

        <p>
          It is a long established fact that a reader will be
          distracted by the readable content of a page when looking
          at its layout. The point of using Lorem...
        </p>

        <img
        src="../assets/feather_icons_3/arrow-down-circle.svg"
        class="array_down"
        >
      </div>

      <div class="instrutores">
        <img
        src="../assets/avatar-female.png"
        class="avatar"
        >

        <h1>Cristina Hasen</h1>

        <p>
          It is a long established fact that a reader will be
          distracted by the readable content of a page when looking
          at its layout. The point of using Lorem...
        </p>

        <img
        src="../assets/feather_icons_3/arrow-down-circle.svg"
        class="array_down"
        >
      </div>
    </article>
    <footer>
      <div class="cadastro">
        <div>
          <h1>Que tal embarcar nessa jornada?</h1>
          <p>Faça login ou cria sua conta</p>
        </div>
        <button id="cadastrar">CADASTRAR</button>
        <button id="login">LOGIN</button>
      </div>
      <div class="rodape">
        <div class="social_media">
          <a>
            <img
            src="../assets/feather_icons_3/facebook.svg">
          </a>
          <a>
            <img
            src="../assets/feather_icons_3/instagram.svg">
          </a>

          <a>
            <img
            src="../assets/feather_icons_3/linkedin.svg">
          </a>

          <a>
            <img
            src="../assets/feather_icons_3/twitter.svg">
          </a>
        </div>

        <button>Visite academicos.org</button>

        <p>Processo Seletivo Acadêmicos © 2021</p>
        <p>Desenvolvido por Carlos André</p>
      </div>
    </footer>
  </body>
</html>